<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutSite.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>
<body>
    <section class="header clearfix">
    </section>
    <section class="mainmenu clearfix">
    </section>
    <section class="maincontent clearfix">
        @RenderBody()
    </section>

    



    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>
